/* BOX SIZING */
* {
  box-sizing: border-box;
  /* Opera/IE8 */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome */
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  position: relative;
}

body, header, footer {
  font-family: 'Roboto';
}

#arrow__back {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 0px;
}

.fa-arrow-left {
  padding: 20px;
  margin-top: 18px;
}

#title {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#title h1 {
  font-family: 'Shrikhand';
  font-weight: lighter;
  font-size: 1.8em;
}

section {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #f6f6f6;
}

#banner {
  width: 100%;
  height: 300px;
}

.banner__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#menu {
  position: absolute;
  width: 100%;
  top: 250px;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0px 0px;
}

#menu__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu__header > h2 {
  margin-left: 24px;
  font-family: 'Shrikhand';
  font-weight: lighter;
}

.heart {
  margin-top: 24px;
  margin-right: 32px;
}

#menu__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 390px;
  margin-bottom: 32px;
}

.item__title {
  height: 64px;
  width: 95%;
}

.item__title h3 {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 4px;
}

.underline {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
}

@-webkit-keyframes AnimItem_dish_1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes AnimItem_dish_1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes AnimItem_dish_2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes AnimItem_dish_2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes AnimItem_dish_3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes AnimItem_dish_3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.item__dish_1 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: AnimItem_dish_1;
          animation-name: AnimItem_dish_1;
}

.item__dish_2 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: AnimItem_dish_2;
          animation-name: AnimItem_dish_2;
}

.item__dish_3 {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: AnimItem_dish_3;
          animation-name: AnimItem_dish_3;
}

.item__dish {
  background-color: #ffffff;
  border-radius: 18px;
  position: relative;
  width: 95%;
  height: 64px;
  overflow: hidden;
}

.item__dish:hover .dish__check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.item__dish:hover .dish__price {
  -webkit-transform: translate(-64px, 0px);
          transform: translate(-64px, 0px);
}

.item__dish:hover .dish span {
  width: 210px;
}

.item__dish:hover .fa-circle-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.dish__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish h4 {
  margin: 6px 6px;
}

.dish span {
  width: 310px;
  font-size: 0.9em;
  font-weight: 300;
  -webkit-transition: width 1s;
  transition: width 1s;
  display: inline-block;
  margin-left: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish__price {
  padding-top: 32px;
  padding-right: 16px;
  -webkit-transition: 1s;
  transition: 1s;
}

.dish__check {
  background-color: #99E2D0;
  border-radius: 0px 18px 18px 0px;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-circle-check {
  -webkit-transition: 1s;
  transition: 1s;
}

#order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btn_order {
  position: absolute;
  bottom: 32px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  padding: 16px 40px 16px 40px;
  border-radius: 24px;
  border: none;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px #808080;
          box-shadow: 0px 2px 5px 0px #808080;
}

#btn_order:hover {
  cursor: pointer;
}

/* ======================================================================================== */
/* ======================================================================================== */
footer {
  background-color: #353535;
  height: 200px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#footer__body ul li {
  list-style-type: none;
  color: #ffffff;
  padding-bottom: 8px;
}

#footer__body ul li a {
  text-decoration: none;
  color: white;
}

#footer__body ul {
  padding-left: 30px;
}

#footer__header {
  padding-top: 22px;
}

#footer__header span {
  margin-left: 32px;
  font-family: 'Shrikhand';
  font-size: 1.1em;
  color: #ffffff;
}

@media all and (max-width: 1169px) {
  section {
    height: 1060px;
  }
}

@media all and (max-width: 793px) {
  section {
    height: 1380px;
  }
  .item__title, .item__dish {
    width: 95%;
    height: 64px;
  }
  .dish span {
    width: 310px;
  }
  footer {
    display: inline-block;
    width: 100%;
  }
  .menu__item {
    width: 100%;
  }
}

@media all and (max-width: 375px) {
  .dish span {
    width: 255px;
  }
}
/*# sourceMappingURL=styles_menu.css.map */