/* BOX SIZING */
* {
  box-sizing: border-box;
  /* Opera/IE8 */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome */
}

body, header, footer {
  font-family: 'Roboto';
}

/* ======================================================================================== */
/* ======================================================================================== */
header {
  position: relative;
}

#arrow__back {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 0px;
}

.fa-arrow-left {
  padding: 20px;
  margin-top: 18px;
  color: black;
}

#title {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#title a {
  text-decoration: none;
}

#title h1 {
  font-family: 'Shrikhand';
  font-weight: lighter;
  font-size: 1.8em;
  color: #000000;
}

/* ======================================================================================== */
/* ======================================================================================== */
main {
  max-width: 1440px;
  margin: 0 auto;
}

.section-1 {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #f6f6f6;
}

#banner {
  width: 100%;
  height: 300px;
}

.banner__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ======================================================================================== */
#menu {
  position: absolute;
  width: 100%;
  top: 240px;
  background-color: #f6f6f6;
  border-radius: 32px 32px 0px 0px;
}

#menu__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu__header > h2 {
  margin-left: 24px;
  font-family: 'Shrikhand';
  font-weight: lighter;
}

/* ======================================================================================== */
.heart {
  margin-top: 24px;
  margin-right: 32px;
  color: #808080;
}

.heart__back {
  position: absolute;
  top: 20px;
  right: 32px;
  -webkit-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
  background: linear-gradient(342deg, #FF79DA 0%, #9356DC 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart__back:hover {
  cursor: pointer;
  background: linear-gradient(342deg, #FF79DA 0%, #9356DC 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-animation: bounce 0.61s infinite 1.5s;
          animation: bounce 0.61s infinite 1.5s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/* ======================================================================================== */
#menu__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__item {
  visibility: hidden;
  -webkit-animation: cascade 0.02s ease-in-out;
          animation: cascade 0.02s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 390px;
  margin-bottom: 32px;
}

.menu__item:nth-child(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menu__item:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu__item:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.menu__item:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.item__title {
  height: 64px;
  width: 95%;
}

.item__title h3 {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 4px;
}

.underline {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
}

/* ======================================================================================== */
@-webkit-keyframes cascade {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes cascade {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes cascade2 {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes cascade2 {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.item__dish:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.item__dish:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.item__dish:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.item__dish:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.item__dish:nth-child(5) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.item__dish {
  visibility: hidden;
  -webkit-animation: cascade2 1s ease-in-out both;
          animation: cascade2 1s ease-in-out both;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #ffffff;
  border-radius: 18px;
  position: relative;
  width: 95%;
  height: 64px;
  -webkit-box-shadow: 0px 2px 10px 0px #a1a1a1a1;
          box-shadow: 0px 2px 10px 0px #a1a1a1a1;
  overflow: hidden;
}

.item__dish:hover .dish__check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.item__dish:hover .dish__price {
  -webkit-transform: translate(-64px, 0px);
          transform: translate(-64px, 0px);
}

.item__dish:hover .dish span {
  width: 210px;
}

.item__dish:hover .fa-circle-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.dish__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish h4 {
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 6px;
}

.dish span {
  width: 310px;
  font-size: 0.9em;
  font-weight: 300;
  -webkit-transition: width 1s;
  transition: width 1s;
  display: inline-block;
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish__price {
  padding-top: 32px;
  padding-right: 16px;
  -webkit-transition: 1s;
  transition: 1s;
}

.dish__price span {
  font-size: 0.9em;
  font-weight: 500;
}

.dish__check {
  background-color: #99E2D0;
  border-radius: 0px 18px 18px 0px;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-circle-check {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* ======================================================================================== */
.section-2 {
  background-color: #f6f6f6;
}

#order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btn__order {
  margin-bottom: 64px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  padding: 16px 40px 16px 40px;
  border-radius: 24px;
  border: none;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px #808080;
          box-shadow: 0px 2px 5px 0px #808080;
}

#btn__order:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
  background: linear-gradient(360deg, #a16be0 0%, #ff93e1 100%);
  -webkit-box-shadow: 0px 2px 5px #3d3d3d;
          box-shadow: 0px 2px 5px #3d3d3d;
}

/* ======================================================================================== */
/* ======================================================================================== */
footer {
  background-color: #353535;
  height: 200px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#footer__header {
  padding-top: 22px;
}

#footer__header span {
  font-family: 'Shrikhand';
  font-size: 1.1em;
  color: #ffffff;
}

#footer__body ul li {
  list-style-type: none;
  color: #ffffff;
  padding-bottom: 8px;
  display: inline-block;
  margin-right: 32px;
}

.footer-icon {
  padding-right: 24px;
}

#footer__body ul li a {
  text-decoration: none;
  color: #ffffff;
}

#footer__body ul li a:hover {
  color: #9356DC;
}

#footer__body ul {
  padding-left: 30px;
}

/* ======================================================================================== */
/* ======================================================================================== */
@media all and (max-width: 1169px) {
  .section-1 {
    height: 1010px;
  }
  #section-1b {
    height: 1080px;
  }
}

@media all and (max-width: 793px) {
  .section-1 {
    height: 1260px;
  }
  #section-1b {
    height: 1340px;
  }
  .item__title {
    height: 48px;
  }
  .dish span {
    width: 310px;
  }
  #btn__order {
    margin-bottom: 64px;
  }
  #footer__header span {
    margin-left: 32px;
  }
  #footer__body ul li {
    display: block;
  }
  footer {
    display: inline-block;
    width: 100%;
  }
  .menu__item {
    width: 100%;
  }
}

@media all and (max-width: 375px) {
  .dish span {
    width: 255px;
  }
}
/*# sourceMappingURL=styles_menu.css.map */