/* styles.scss */

$cd-primary: #9356DC;
$cd-secondary: #FF79DA;
$cd-tertiary: #99E2D0;

/* BOX SIZING */
*{
    box-sizing: border-box; /* Opera/IE8 */
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari/Chrome */
}

// *{
//     border: 1px solid black;
// }

body{
    
    max-width: 1440px;
    margin: 0 auto;
}

body, header, footer{
    font-family: 'Roboto';
}

/* ======================================================================================== */
/* HEADER*/
/* ======================================================================================== */

header{
    text-align: center;
}

#title{
    width:100%;
    margin:16px 0px;
    /*background-color: aqua;*/
}

#title h1{
    /*background-color: rgb(141, 182, 218);*/
    font-family: 'Shrikhand';
    font-size: 1.8em;
    font-weight: lighter;
    margin-bottom: 12px;
}

// #title img{
//     width:45%;
// }

#locate{
    width:100%;
    background-color: #eaeaea;
    padding: 16px 0px;
}

#locate span{
    margin-right: 14px;
    font-size: 0.9em;
}

.fa-location-dot{
    margin-right: 18px;
}

/* ======================================================================================== */
/* NAV*/
/* ======================================================================================== */


#nav__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
}

#book{
    margin-top: 36px;
    width:65%;
    text-align: center;
}

#book span{
    font-size: 1.4em;
    font-weight: bolder; 
    margin:0;
}

#check{
    margin-top: 16px;
    width:85%;
    text-align: center;
}

#check span{
    font-weight: 100;
}

#explore{
    margin-top: 32px;
    margin-bottom: 56px;
}

#explore button{
    background: linear-gradient(360deg, $cd-primary 0%, $cd-secondary 100%);
    padding:16px;
    border-radius: 24px;
    border:none;
    color:#ffffff;
    box-shadow: 0px 2px 5px 0px #808080;
}

/* ======================================================================================== */

#howto{
    width: 100%;

    &__body{
        width: 100%;
        height: 300px; 
        // background-color: rgb(134, 134, 228);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
}

#howto h2{
    margin-left: 16px;
}

// #howto{
//     width: 100%;

//     &__body{
//         width:100%;
//         height:300px;
//         background-color: rgb(134, 134, 228);
//     }
// }

.howto__body__item{
    width: 90%;
    padding: 28px 0px;
    background-color: #f6f6f6;
    border-radius: 12px;

    &__number{
        padding:2px 8px;
        background-color: $cd-primary;
        border-radius: 25px;
        position:relative;
        right:10px;
    }

    &__txt{
        margin-left: 24px;
    }
}

// #howto__body ol li{
//     margin-bottom: 16px;
//     width: 90%;
//     padding: 28px 0px;
//     background-color: #f6f6f6;
//     border-radius: 12px; 
// }

.fa-mobile-screen-button, .fa-list, .fa-store{
    margin-left: 8px;
    color:#808080;
}

.fa-store{
    color: $cd-primary;
}

/* ======================================================================================== */
// MAIN
/* ======================================================================================== */


main{
    margin-top: 32px;
}

#restaurants{
    background-color: #f6f6f6;
    padding-top: 32px;
}

#restaurants h2{
    margin: 18px 0px 12px 16px;
    font-size: 1.4em;
}

#restaurants__container{
    width: 100%;
    
    //height: 1200px;
    //background-color: #808080;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    //align-items: center;
    justify-content: space-around;
    gap: 32px;
}

.restaurants__card__head{
    position:relative;
}

.restaurants__card{
    margin-top: 16px;
    width: 332px;
    margin-bottom: 32px;
    height: 250px;
    //background-color: #3d3b65;
    //border: 1px solid black;
    border-radius: 18px;
    box-shadow: 0px 2px 12px 0px #797979;
    position:relative;
    
}

.restaurants__card a{
    text-decoration: none;
    color:#000000;
}

.restaurants__card__head{
    height: 180px;
    position:relative;
}

.restaurants__card__tip{
    padding: 6px 14px;
    background-color: $cd-tertiary; 
    width:fit-content;
    // position:relative;
    // left:228px;
    // bottom: 156px;
    z-index: 10;
    border-radius: 2px;
    position: absolute;
    // left:70%;
    // bottom:75%;
    right:10px;
    top:10px;
    font-size: 0.9em;
    font-weight: bold;
    color:#52796f;
    //opacity: 0.5;
}


.restaurants__card__info{
    margin-left: 16px;
}

.restaurants__card__info span h3{
    margin: 0px 0px 4px 0px;
}

.restaurants__card__img{
    width: 100%;
    object-fit: cover;
    height:170px;
    border-radius: 18px 18px 0px 0px;
}

.restaurants__card__body{
    display:flex;
    justify-content: space-between;
}

.fa-heart{
    margin-top: 14px;
    margin-right: 24px;
}

/* ======================================================================================== */
// FOOTER
/* ======================================================================================== */

footer{
    background-color: #353535;
    height: 200px;
}

#footer__body ul li{
    list-style-type: none;
    color:#ffffff;
    padding-bottom: 8px;
}

#footer__body ul{
    padding-left: 30px;
}

#footer__header{
    padding-top: 22px;
}

#footer__header span{
    margin-left: 32px;
    font-family: 'Shrikhand';
    font-size: 1.1em;
    color:#ffffff;
}

.footer-icon{
    margin-right: 8px;
}

@media all and (max-width:768px){

    // #restaurants__container{
    //     height: 1200px;
    //     flex-direction: column;
    //     align-items: center;
    // }

    #restaurants{
        height: 1318px;
    }

    .restaurants__card{
        margin-top: 16px;
        margin-bottom: 0px;
        width: 90%;
        height: 250px;
        //background-color: #99E2D0;
    }
    // body{
    //     max-width: 375px;
    //     margin: 0 auto;
    // }

    

    

}

